<html>
<head>
<title>Fast Travel</title>
<style>
.form_button {
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :rgb(255, 255, 255) ;
         background-color: #00ffea;
         outline: none;
         cursor: pointer; 
         transition: 0.3s;
         opacity: 0.9;
 }
    body
    {
             background-repeat: no-repeat;
        background-image: url(https://ltdfoto.ru/images/gorod_noch_panorama_urezanaja.jpg), url(https://www.fonstola.ru/pic/201312/640x480/fonstola.ru-137464.jpg);
    }
    table
    {
        margin: auto;
    }

    </style>
