<html>
<head>
<title>Fast Travel</title>
<style>
.form_button {
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :rgb(255, 255, 255) ;
         background-color: #00ffea;
         outline: none;
         cursor: pointer; 
         transition: 0.3s;
         opacity: 0.9;
 }
    body
    {
             background-repeat: no-repeat;
        background-image: url(https://i.ibb.co/ZTzQgzb/390346-4k-wallpaper.png), url(https://images.wallpapersden.com/image/download/plane-and-clouds-artistic-digital-art_a2ZnaWeUmZqaraWkpJRsa21lrWloZ2U.jpg);
    }
    table
    {
        margin: auto;
    }

    </style>
